@import 'vars';

@media(max-width: 600px){
    .position{
        &__center{
            margin-left: 16px;
            margin-right: 16px;
        }

        &__gap {
            &_normal{
                margin-top: 32px;
            }

            &_big {
                margin-top: 100px;
            }
        }
    }
        


    .text{
        &__size{
            &_xs{
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
            }
            &_s{
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
            }
            &_sb{
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
            }
            &_m{
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
            }
            &_mb{
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
            }
            &_l{            
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
            }
            &_lb{            
                font-weight: 500;
                font-size: 16px;
                line-height: 29px;
            }
            &_lbb{
                font-weight: 600;
                font-size: 16px;
                line-height: 36px;
            }
            &_xl{
                font-weight: 600;
                font-size: 28px;
                line-height: 34px;
            }
            &_xxl{
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
            }
            &_xxxl{
                font-weight: 600;
                font-size: 48px;
                line-height: 59px;
            }
        }
    }


    .header{
        &__container{
            padding: 50px 20px 16px 16px;
        }            

        &__nav-container{
            display: none;            
        }
    
        &__nav-container-mobile{
            display: flex;            
        }

        &__logo{
            font-weight: 600;
            font-size: 18px;        
        }
    }


    .footer{
        &__box{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-menu{
            gap: 100px;
        }
    }



    .product{
        &__list-content{
            justify-content: center;
            row-gap: 32px;
        }

        &__image {            
            margin-bottom: 9px;
        }
    
        &__title {       
            margin-bottom: 4px;
        }
    
        &__desc {        
            margin-bottom: 8px;
        }
    }


    .cart{
        justify-content: center; 

        &-item{
            display: flex;        
            padding-top: 18px;
            padding-bottom: 24px; 


            &__product-image{
                display: none;
            }

            &__product-desc{
                margin-top: -6px;
            }
        }

        &-command-bar{
            &__button {
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                padding: 8px 16px;
            }
        }

        &-form{
            &__input{
                margin-right: 0;
            }
        }
    }
}
