@import 'vars';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

input, button, select{
    color: inherit;    
    font-family: inherit;
    &::placeholder {
        color: inherit;
        font-family: inherit;
    }
}

.text-input{
    background-color: transparent;        
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;    
}

.position{
    &__center{
        margin-left: 24px;
        margin-right: 24px;
        padding-left: calc(50% - 624px);
        padding-right: calc(50% - 624px);    
    }

    &__gap {
        &_normal{
            margin-top: 64px;
        }
        
        &_small {
            margin-top: 32px;
        }
        
        &_big {
            margin-top: 128px;
        }
    }
}

.text{
    &__color{
        &_light{
            color: #ffffff;
        }
        &_gray{
            color: #888888;
        }
        &_quite-dark{
            color: #050505;
        }
        &_dark{
            color: #000000;
        }
    }

    &__underline{
        text-decoration: underline;
    }

    &__line-through{
        text-decoration-line: line-through;
    }
        

    &__size{
        &_xs{
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
        }
        &_s{
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
        }
        &_sb{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
        &_m{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
        &_mb{
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
        &_l{            
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
        }
        &_lb{            
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
        }
        &_lbb{
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
        }
        &_xl{
            font-weight: 600;
            font-size: 34px;
            line-height: 41px;
        }
        &_xxl{
            font-weight: 600;
            font-size: 48px;
            line-height: 59px;
        }
        &_xxxl{
            font-weight: 600;
            font-size: 64px;
            line-height: 70px;
        }
    }
}

.header{      
    
    &__container{
        display: flex;
        flex-direction: row;
        height: 100%;
        background-color: #ccc;
        align-items: center;
        justify-content: space-between; 
        padding: 16px 5px;
    }

    &__nav-container{
        display: flex; 
        gap: 32px;       
    }
}


.command-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;    
    gap: $gap;
    margin-bottom: 32px;

    &-select {
        width: 295px;
        height: 41px;
        border: 1px solid #C4C4C4;
        border-radius: 20px;        
        outline: none;
        padding-left: 15px;
        padding-right: 50px;        
        color: #000000;
        appearance: none;
        background: url(/img/select-drop-down-arrow.svg);
        background-repeat: no-repeat;
        background-position-x: calc(100% - 20px);
        background-position-y: center;
    }
}

.product{
    &__list-content {
        display: grid;                
        grid-template-columns: repeat(auto-fit, minmax(378px, 1fr));
        justify-items: center;
        column-gap: 32px;
        row-gap: 56px;
    }

    &__box {        
        max-width: 378px;
    }

    &__image {
        width: 380px;
        height: 250px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    &__title {       
        margin-bottom: 8px;
    }

    &__desc {        
        margin-bottom: 12px;
    }

    &__price-box {
        display: flex;
        gap: $gap;
    }
}



.cart{    
    display: flex;
    flex-wrap: wrap;       
    column-gap: $gap;
    row-gap: $gap * 2;


    &-item-list{
        flex-grow: 1;

        &__header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
        }
    }
    

    &-item{
        display: flex;        
        padding-top: 25px;
        padding-bottom: 32px; 
        gap: $gap;
        border-top: 0.5px solid #CACDD8;

        &__box{    
            flex-grow: 1;    
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &__product-image-container{
            display: inline;
        }

        &__product-image{
            width: 173px;
            height: 173px;            
        }

        &__product-desc{
            max-width: 276px;
        }

        &__count{
            width: 70px;
            height: 50px;
            text-align: right;
            padding-right: 24px;
            outline: none;
            background: #F7F6F6;
            border-radius: 6px;
            border: none;
        }

        &__command-bar{
            display: flex;   
            gap: $gap
        }
    }


    &-command-bar{
        margin-top: 16px;        
        display: flex;
        gap:16px;

        &__button {
            background: transparent;
            color: #000000;
            border: 1px solid #000;
            border-radius: 20px;        
            padding: 8px 32px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            &:hover {
                background: #000000;
                color: $text-color-invert;
            }
        }
    }


    &-form{
        display: flex;
        flex-direction: column;        
        height: 560px;
        background: #F7F6F6;
        border-radius: 20px;
        padding: 42px 32px;
    
        &__title{
            text-align: center;
        }
    
        &__input{
            border: none;
            border-bottom: 1px solid #CACDD8;
            width: 288px;
            margin-right: 32px;
            margin-top: 44px;
        }
    
        &__price-box{
            text-align: center;
            margin-top: 64px;
        }
    
        &__button {
            background: transparent;
            color: #000000;
            border: 1px solid #000;            
            border-radius: 20px;
            width: 100%;
            height: 46px;
            margin-top: 16px;
        
            &:hover {
                background: #000000;
                color: $text-color-invert;
            }
        }
    }

}