* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button, select {
  color: inherit;
  font-family: inherit;
}
input::-moz-placeholder, button::-moz-placeholder, select::-moz-placeholder {
  color: inherit;
  font-family: inherit;
}
input::placeholder, button::placeholder, select::placeholder {
  color: inherit;
  font-family: inherit;
}

.text-input {
  background-color: transparent;
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.position__center {
  margin-left: 24px;
  margin-right: 24px;
  padding-left: calc(50% - 624px);
  padding-right: calc(50% - 624px);
}
.position__gap_normal {
  margin-top: 64px;
}
.position__gap_small {
  margin-top: 32px;
}
.position__gap_big {
  margin-top: 128px;
}

.text__color_light {
  color: #ffffff;
}
.text__color_gray {
  color: #888888;
}
.text__color_quite-dark {
  color: #050505;
}
.text__color_dark {
  color: #000000;
}
.text__underline {
  text-decoration: underline;
}
.text__line-through {
  text-decoration-line: line-through;
}
.text__size_xs {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}
.text__size_s {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.text__size_sb {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.text__size_m {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.text__size_mb {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.text__size_l {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.text__size_lb {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.text__size_lbb {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.text__size_xl {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
}
.text__size_xxl {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
}
.text__size_xxxl {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
}

.header__container {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: #ccc;
  align-items: center;
  justify-content: space-between;
  padding: 16px 5px;
}
.header__nav-container {
  display: flex;
  gap: 32px;
}

.command-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}
.command-bar-select {
  width: 295px;
  height: 41px;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  outline: none;
  padding-left: 15px;
  padding-right: 50px;
  color: #000000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(/img/select-drop-down-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 20px);
  background-position-y: center;
}

.product__list-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(378px, 1fr));
  justify-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
}
.product__box {
  max-width: 378px;
}
.product__image-command-container {
  position: relative;
}
.product__image-command-container:hover .product__command-bar {
  opacity: 1;
}
.product__image-command-container:hover .product__image {
  filter: brightness(65%);
}
.product__command-bar {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
  top: 0;
  right: 0;
  opacity: 0;
}
.product__command-button {
  cursor: pointer;
  width: 24px;
  margin: 10px;
}
.product__image {
  width: 380px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__title {
  margin-bottom: 8px;
}
.product__desc {
  margin-bottom: 12px;
}
.product__price-box {
  display: flex;
  gap: 32px;
}

.cart {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 64px;
}
.cart-item-list {
  flex-grow: 1;
}
.cart-item-list__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.cart-item {
  display: flex;
  padding-top: 25px;
  padding-bottom: 32px;
  gap: 32px;
  border-top: 0.5px solid #CACDD8;
}
.cart-item__box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cart-item__product-image-container {
  display: inline;
}
.cart-item__product-image {
  width: 173px;
  height: 173px;
}
.cart-item__product-desc {
  max-width: 276px;
}
.cart-item__count {
  width: 70px;
  height: 50px;
  text-align: right;
  padding-right: 24px;
  outline: none;
  background: #F7F6F6;
  border-radius: 6px;
  border: none;
}
.cart-item__command-bar {
  display: flex;
  gap: 32px;
}
.cart-command-bar {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}
.cart-command-bar__button {
  background: transparent;
  color: #000000;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 8px 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.cart-command-bar__button:hover {
  background: #000000;
  color: #FFFFFF;
}
.cart-form {
  display: flex;
  flex-direction: column;
  height: 560px;
  background: #F7F6F6;
  border-radius: 20px;
  padding: 42px 32px;
}
.cart-form__title {
  text-align: center;
}
.cart-form__input {
  border: none;
  border-bottom: 1px solid #CACDD8;
  width: 288px;
  margin-right: 32px;
  margin-top: 44px;
}
.cart-form__price-box {
  text-align: center;
  margin-top: 64px;
}
.cart-form__button {
  background: transparent;
  color: #000000;
  border: 1px solid #000;
  border-radius: 20px;
  width: 100%;
  height: 46px;
  margin-top: 16px;
}
.cart-form__button:hover {
  background: #000000;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */